.imageStyle {
  width: 50%;
  padding: 0;
  transform: translate(0%, -50%);
}

.linkStyle {
  font-size: 0.8rem;
  padding: 1rem;

  &:hover,
  &:active,
  &:focus {
    color: #419ebb !important;
  }
}
