.linkStyle {
  font-size: 0.8rem;
  padding: 1rem;

  &:hover,
  &:active,
  &:focus {
    color: #419ebb !important;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.drawerContainer {
  width: 150px;
  background-color: #070724;
  height: 100%;
  color: #ffffff;
}
